.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;

    font-family: var(--font-family);
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
    background-color: var(--white);
    border: 1px solid transparent;
    user-select: none; //bỏ select chữ

    //2 nút đứng cạnh nhau, mới cho cách nhau
    + .wrapper {
        margin-left: 8px;
    }

    &.disable {
        pointer-events: none;
        opacity: 0.5;
    }
}
.icon {
    display: inline-block;
    width: 24px;
    text-align: center;
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

//Button type
.rounded {
    border-radius: 999px;
    box-shadow: 0 2px 8px rgba(0 0 0 / 6%);
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.primary {
    color: var(--white) !important;
    background-color: var(--primary);
    border-color: var(--primary);

    &:hover {
        border-color: var(--primary);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
        cursor: pointer;
    }
}

.outline {
    color: var(--primary);
    border-color: currentColor; //ăn theo màu của color trên

    &:hover {
        border-color: currentColor; //ăn theo màu của color trên
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.text {
    min-width: 110px;
    border: 1px solid rgba(22, 24, 35, 0.12);
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

//Button Size
.small {
    min-width: 88px;
    padding: 4px 16px;
}
.large {
    min-width: 140px;
    padding: 14px 16px;
}
